html {
    background-color: #404040;
}

body {
    background-color: #404040;
    margin: 0;
}

header {
    background-color: #4A4949;
    margin-top: 0;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 5px 5px 10px black;
}

.topline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topline h1 {
    padding-right: 20%;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.circleimg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 180px;
    box-shadow: 10px 10px 15px black;
}

.circleimg img{
    width: 100%;
    height: auto;
    display: block;
}


footer {
    background-color: #4A4949;
    box-shadow: 5px 0px 15px black;
}

nav {
    padding-left: 8%;
}

nav li {
    margin-right: 120px; /* Will need to adjust for responsiveness */
    list-style: none;
    display: inline-flex;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px black;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: wavy;
    color: rgb(11, 243, 11);
}

nav a:visited{
    text-decoration: line-through;
}

.meat {
    text-align: center;
    color: white;
    width: 70%;
    margin: 60px auto;
}

.meat p, h3 {
    text-align: center;
}

.meat h3 {
    text-shadow: 2px 2px 4px black;
}

.meat p {
    border-radius: 10px;
    box-shadow: 10px 10px 15px black;
    padding: 20px;
    font-size: 1.5em;
}

.Hskill {
    color: white;
    margin-top: 55px;
    text-shadow: 2px 2px 4px black;
    
}

.skillset {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.skillset img {
    width: 45px;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
}

.card {
    color: white;
    background-color: #afafaf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    width: 40%;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 10px 10px 10px black;
}

.card h2 {
    text-shadow: 2px 2px 4px black;
}

.formy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.formheader {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    margin-top: 50px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px black;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
  }

  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  textarea {
    resize: vertical;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

footer {
    color: white;
    text-align: center;
    height: 20%;
    padding: 20px;

}

.hyperlink {
    text-decoration: none;
    color: white;
}

a.hyperlink:hover {
    color: rgb(11, 243, 11)
}

a.hyperlink:visited {
    text-decoration: wavy;
    color: orange;
}


.onlymobile {
    display: none;
}













@media (max-width: 1500px) {
    
    nav li{
        margin-right: 30px;
    }

    .topline h1 {
        padding-right: 10%;
    }
}


@media (max-width: 900px){

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
        display: block;
    }

    .circleimg {
        width: 150px;
        height: auto;
    }
 
    .topline h1 {
        display: flex;
        margin-top: 80px;
       
    }

    nav {
        padding-left: 2%;
    }
}



@media (max-width: 605px){

    .topline h1 {
        display: none;
    }

   .onlymobile {
    display: block;
    text-align: center;
    margin: 0 auto;
    color: white;
   }

   .card {
    width: 80%;
   }
}